html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #cfdbee;
}


.contenedorPrincipal {
    background-color: #aed9ee;
    margin: 5%;
    min-width: 80%;
    min-height: 70%;
    max-height: 200vh;
    max-width: 150vh;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorInferior {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    gap: 10%;
}

.contenedorDerecho, .contenedorIzquierdo {
    background-color: #6585cf52;
    padding: 30px;
    width: 45%;
    height: 50%;
    border-radius: 8px;
    text-align: justify;
    line-height: 25px;
    position: relative;
}


.contenedorDerecho form {
    text-align: center;
    margin-top: 20px;
}

.contenedor-redireccion {
    text-align: center;
    margin-top: 50px;
}

.redireccion-btn {
    background-color: rgb(0, 0, 0);
    color: rgba(240, 226, 34, 0.658);
    font-family: sans-serif;
    border: 0;
    border-radius: 0 70px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    margin: 5px;
    font-size: 20px;
    box-sizing: content-box;
    padding: 4% 5%;
    min-width: 20%;
    touch-action: manipulation;
    transition: background 0.7s;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.redireccion-btn :hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.contenedorDerecho button {
    background-color: rgb(0, 0, 0);
    color: rgba(240, 226, 34, 0.658);
    font-family: sans-serif;
    border: 0;
    border-radius: 0 70px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    margin: 5px;
    font-size: 20px;
    box-sizing: content-box;
    padding: 20px;
    min-width: 20%;
    touch-action: manipulation;
    transition: background 0.7s;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contenedorDerecho button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.contenedorDerecho h2 {
    text-align: center;
}

.info-lista-ul {
    height: 200px;
    overflow-y: auto;

}

.info-lista-ul::-webkit-scrollbar {
    display: none;
}


.contenedorIzquierdo button {
    background-color: rgb(0, 0, 0);
    color: rgba(240, 226, 34, 0.658);
    font-family: sans-serif;
    border: 0;
    border-radius: 0 70px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    margin: 5px;
    font-size: 20px;
    box-sizing: content-box;
    padding: 20px;
    min-width: 20%;
    touch-action: manipulation;
    transition: background 0.7s;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contenedorIzquierdo button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.contenedorIzquierdo form {
    text-align: center;
    margin-top: 20px;
}

.redireccion-a {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    background-color: #97b4c8; /* Azul estilo botón */
    border: 2px solid #4e89c9;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    .redireccion-a:hover {
        background-color: #7e97a9;
        color: white;
    }
